.main-header {
  display: grid;
  padding-top: 21px;
  padding-bottom: 9px;
  width: 880px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $main-header-border-bottom-color;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-header__menu-button {
  display: none;
}

@media (max-width: $desktop) {
  .main-header {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-width: 0;
    left: initial;
    transform: initial;
  }

  .main-header--open {
    display: flex;
    padding-top: 100px;
    padding-left: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: 10;
    overflow-y: auto;

    .main-header__site-navigation {
      display: block;
      width: 100%;
    }
  }

  .main-header__site-navigation {
    display: none;
  }

  .main-header__menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}

@media (max-width: $tablet) {
  .main-header--open {
    display: flex;
    padding-top: 100px;
    padding-left: 0;
  }
}
