.main-footer {
  margin-top: 40px;
  padding-bottom: 98px;
}

.main-footer__wrapper {
  margin-top: 0;
  margin-left: -18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: $desktop) {
  .main-footer {
    margin-top: 22px;
    padding-bottom: 55px;
  }
}

@media (max-width: $tablet) {
  .main-footer {
    margin-top: 33px;
    padding-bottom: 50px;
  }

  .main-footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}
