.main-footer {
  margin-top: 40px;
  padding-bottom: 98px;
}

.main-footer__wrapper {
  margin-left: -18px;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 94px;
  row-gap: 20px;
}

@media (max-width: $desktop) {
  .main-footer__wrapper {
    column-gap: 90px;
  }

  .main-footer {
    margin-top: 22px;
    padding-bottom: 55px;
  }
}

@media (max-width: $tablet) {
  .main-footer {
    margin-top: 33px;
    padding-bottom: 50px;
  }

  .main-footer__wrapper {
    grid-template-columns: auto;
    // align-items: center;
    justify-items: center;
    margin-left: 0;
    row-gap: 23px;
  }
}
