$black: #000000;
$ghost: #c9ccd4;
$cod-gray: #1c1c1c;
$abbey: #48494d;
$bright-turquoise: #0ad9c6;
$wild-sand: #f6f6f6;
$white: #ffffff;
$white-20: #ffffff33;
$mine-shaft: #1f1f1f;

// Background's fallback colors
$site-banner-bg-color: #1f1f1f;

// Purpose
$main-header-border-bottom-color: $white-20;
$site-navigation-link: $white;
$input-color: $cod-gray;
$submit-bg-color: $bright-turquoise;
$site-navigation-link-before-desktop: $abbey;
$site-navigation-item-bg: $wild-sand;
$input-border-color: $ghost;
$input-invalid-color: red;
$menu-button-bg: $bright-turquoise;
$menu-button-open-bg: $white;
$heading-color: $mine-shaft;
$list-item-counter-color: $bright-turquoise;
$bikes-category-figures-color: $bright-turquoise;
