.bikes-category-list {
  margin: 0 auto;
  padding-left: 0;
  // padding-left: 60px;
  // padding-right: 60px;
  list-style-type: none;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, fit-content(342px));
  column-gap: 50px;
  justify-content: center;
}

.bikes-category-list__item {
  margin-bottom: 50px;

  a::before {
    position: absolute;
    display: block;
    content: "";
    box-sizing: border-box;
    border-style: solid;
    border-color: $bikes-category-figures-color;
    border-width: 0;
  }
}

.bikes-category-list__item:hover p {
  color: $accent;
}

.bikes-category-list__item:nth-of-type(3n+1) {
  margin-top: 10px;

  a::before {
    width: 180px;
    height: 180px;
    left: -60px;
    top: 156px;
    border-radius: 50%;
    border-width: 27px;
    z-index: -1;
  }
}

.bikes-category-list__item:nth-child(3n+2) {
  margin-top: 39px;

  a::before {
    width: 47px;
    height: 47px;
    border-width: 8px;
    top: -18px;
    left: -18px;
  }

  a::after {
    display: block;
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    border-width: 8px;
    bottom: 31px;
    right: -23px;
    box-sizing: border-box;
    border-style: solid;
    border-color: $bikes-category-figures-color;
  }
}

.bikes-category-list__item:nth-child(3n+3) {
  a::before {
    width: 95px;
    height: 95px;
    border-width: 17px;
    border-radius: 50%;
    top: -32px;
    right: -36px;
  }
}

.bikes-category-list__item a {
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.bikes-category-list p {
  margin-top: 17px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $black;
}

.bikes-category-list img {
  border-radius: 10px;
}

$bikes-category-list-desktop-breakboint: 1222px;

@media (max-width: $bikes-category-list-desktop-breakboint) {
  .bikes-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 734px;
  }
}

@media (max-width: $desktop) {
  .bikes-category-list {
    max-width: 590px;
    padding-right: 0;
    padding-left: 0;
  }

  .bikes-category-list img {
    width: 270px;
    height: 300px;
  }

  .bikes-category-list__item:nth-of-type(3n+1) {
    margin-top: 0;

    a::before {
      width: 127px;
      height: 127px;
      left: -37px;
      top: auto;
      bottom: 26px;
      border-width: 18px;
    }
  }

  .bikes-category-list__item:nth-of-type(3n+2) {
    margin-top: 0;

    a::before {
      display: none;
    }

    a::after {
      display: none;
    }
  }

  .bikes-category-list__item:nth-of-type(3n+3) {
    margin-left: 0;

    a::before {
      width: 68px;
      height: 68px;
      border-width: 13px;
      top: -20px;
      right: -25px;
    }
  }
}

@media (max-width: $tablet) {
  .bikes-category-list {
    max-width: 270px;
  }

  .bikes-category-list__item + .bikes-category-list__item {
    margin-left: auto;
  }

  .bikes-category-list__item {
    margin-bottom: 42px;
  }

  .bikes-category-list__item:nth-of-type(3n+1) {
    a::before {
      left: -24px;
      bottom: 28px;
    }
  }

  .bikes-category-list__item:nth-of-type(3n+3) {
    a::before {
      top: -20px;
      right: -15px;
    }
  }
}
