.input {
  position: relative;
}

.input + .input {
  margin-top: 20px;
}

.input input {
  box-sizing: border-box;
  background-color: $white;
  border-width: 1px;
  border-color: $input-border-color;
  border-style: solid;
  border-radius: 6px;
  padding-top: 13px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 29px;
  width: 325px;
  font-size: 15px;
  line-height: 24px;
  appearance: none;
  box-shadow: none;

  &::placeholder {
    color: $input-color;
    opacity: 0.5;
  }
}

.input:hover input {
  border-color: $input-hover-border-color;

  &::placeholder {
    color: $input-hover-border-color;
  }
}

.input span {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
  display: none;
  color: $input-invalid-color;
}

.input--invalid {
  input {
    border-color: $input-invalid-color;
  }

  span {
    display: inline;
  }
}


@media (max-width: $desktop) {
  .input input {
    padding: 12px 21px 10px;
  }
}

@media (max-width: $tablet) {
  .input input {
    width: 288px;
    padding-left: 25px;
  }
}
